<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneydrop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/m2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.moneydrop.WelcomePage"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.moneydrop.Background"
            android:enabled="true" />
		<service android:enabled="true" android:name="com.example.moneydrop.congrazSound"/>
		<service android:enabled="true" android:name="com.example.moneydrop.GameOverSound"/>
        <activity
            android:name="com.example.moneydrop.About"
            android:noHistory="true"
             />
        
        <activity
            android:name="com.example.moneydrop.MainActivity"
            android:noHistory="true"
            />
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage"
            android:noHistory="true"
            />
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer1"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage1"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer2"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage2"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer3"
            android:noHistory="true"
            />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage3"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer5"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage5"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer6"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage6"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage4"
            android:noHistory="true"
            />
        <activity
            android:name="com.example.moneydrop.QuestionTypePage7"
            android:noHistory="true"
             />
        <activity
            android:name="com.example.moneydrop.FinalPage"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer4"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.QuestionAndAnswer7"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.AboutPage"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount1"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount2"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount3"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount4"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount5"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount6"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ShowCorrectAndAmount7"
            android:noHistory="true"
             >
        </activity>
        <activity
            android:name="com.example.moneydrop.ExitPage"
            android:noHistory="true"
             >
        </activity>
    </application>

</manifest>